<div class="card m-1 bg-primary border-white" style="width: 16rem;">
  <div class="m-3 p-1 my-card">
    <div class="img-head">
      <img [src]="game.image" class="img-card" alt="{{ game.name }}">
    </div>
    <div class="mt-3">
      <h3 class="text-center">{{ game.name }}</h3>
    </div>
  </div>
</div>
