<div class="m-3">
  <h3 class="bg-primary text-center rounded p-2">Platform: {{game.platform}}</h3>
  <div class="d-flex flex-column p-0 border border-primary rounded m-3">
    <div class="mb-2 border-top border-bottom border-primary d-flex justify-content-center pt-2 pb-2">
      <img [src]="game.image" alt="{{ game.name }}" style="width: 40%; border-radius: 2%">
    </div>
    <div class="p-3">
      <h3 class="p-2">Name: {{ game.name }}</h3>
      <h4 class="p-2">Platform: {{ game.platform }}</h4>
      <p class="p-2">Description: {{ game.description }}</p>
    </div>
  </div>
</div>
