<h3 class="font-italic text-center border-bottom border-primary pt-3 pb-2 mb-4">Add new game</h3>
<h4 class="font-italic text-center text-danger m-5">{{addText}}</h4>
<div class="row justify-content-center">
  <div class=" col-11 col-md-8  pt-1 d-flex flex-column m-3">
    <form (ngSubmit)="creatNewGame()">
      <div class="form-group m-3 text-center">
        <label for="name" class="mb-4">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          #nameInput
        />
      </div>
      <div class="form-group m-3 text-center">
        <label for="imageUrl" class="mb-4">Image</label>
        <input
          type="text"
          name="imageUrl"
          id="imageUrl"
          class="form-control"
          #imageUrlInput
        />
      </div>
      <div class="form-group m-3 text-center">
        <label for="platform" class="mb-4">Platform</label>
        <select
          name="platform"
          id="platform"
          class="form-control"
          #platformInput
        >
          <option> Select platform </option>
          <option
            *ngFor="let platform of arrayPlatforms.sort()"
          >{{ platform }}</option>
        </select>
      </div>
      <div class="form-group m-3 text-center">
        <label for="description" >Description</label>
        <textarea
          name="description"
          id="description"
          class="form-control"
          #descriptionInput
        ></textarea>
      </div>
      <button
        type="submit"
        class="btn btn-success col-12 mt-5 mb-5"
      >Create
      </button>
    </form>
  </div>
</div>
