<div>
  <h3 class="font-italic text-center border-bottom border-primary pb-2 mt-3 mb-3">All games</h3>
  <div class="d-flex flex-wrap justify-content-around p-3">
    <app-game-item
      *ngFor="let game of games"
      [game] = game
    ></app-game-item>
  </div>
</div>
