<div class="wrapper">
  <header class="header">
    <app-toolbar></app-toolbar>
  </header>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
