<div class="card m-2 border-dark bg-primary mt-5 mb-3" style="width: 18rem" [routerLink]="[game.name]">
  <div class="m-3 p-1 my-card">
    <div class="img-head">
      <img [src]="game.image" class="img-card" alt="{{ game.name }}">
    </div>
    <div class="mt-2">
      <h3 class="text-center">{{ game.name }}</h3>
    </div>
  </div>
</div>

