html,body {
  height: 100%;
  line-height: 1;
  font-size: 18px;
  color: white;
  background: black;
}
.img-head {
  padding: 0 0 120% 0;
  overflow: hidden;
  position: relative;
}

.img-card {
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: absolute;
  top: 0;
  left: 0;
}

.new-game-title {
  margin: 0 -9px;
}
