<div class="row">
  <div class="col-md-3 border-right border-primary p-0 wrapper" >
    <h3 class="font-italic text-center border-bottom border-primary pb-2 mt-3 mb-3">Platform</h3>
    <div class="p-3">
      <div class="list-group">
        <a class="list-group-item list-group-item-action bg-primary text-center text-white mb-2" routerLink="/" routerLinkActive="active">All games</a>
        <a
          class="list-group-item list-group-item-action bg-primary text-center text-white mb-2"
          *ngFor="let platform of arrayPlatforms.sort()"
          routerLink="{{platform}}"
          routerLinkActive="active"
        >{{ platform }}</a>
        <a class="list-group-item list-group-item-action bg-primary text-center text-white mb-2" routerLink="new/game"><strong>New-Game</strong></a>
      </div>
    </div>
  </div>
  <div class="col-md-9 p-0" >
      <router-outlet></router-outlet>
  </div>
</div>
